doctype html
html(lang='en')
  head
    title tgifi
    style.
      body {
        background: #fafafa;
      }
     a {
     	text-decoration: none;
     	padding: 5px;
     }
  body
    block content