extends layout
block content
  header
    h1 tgifi
  main(class="content")
    div(class="container")
      div(class="login-heading")
        p Login
      div(class="form-container")
        form(method='post', action='/login')
          div(class="name-container")
            input(type='text', required, name="username", placeholder="User Name")
          div(class="password-container")
            input(type='password' required, name="password", placeholder="Password")
          div(class="error-container")
            p= error
          div(class="signin-container")
            button(type='submit') Log In
          div(class="social-message")
           p OR Login using your social account
          div(class="social-container")
            a(class="github" href='/auth/login/github')  Github
            a(class="facebook" href='/auth/login/facebook')  Facebook
          div(class="social-message")
            p don't have an account?.
          div(class="signup-container")
            a(class="signup" href='/signup') Sign Up