extends layout
block content
  header
    h1 tgifi
  main(class="content")
    div(class="container")
      div(class="signup-heading")
        p Signup
      div(class="form-container")
        form(method='post', action='/signup')
          div(class="full-name-container")
            div(class="full-name-input")
              input(type='text', placeholder='Full Name', name='fullname')
          div(class="email-container")
            div(class="email-input")
              input(type='text', placeholder='Email', name='email')
          div(class="password-container")
            div(class="password-input")
              input(type='password', placeholder='Password', name='password')
          div(class="repassword-container")
            div(class="repassword-input")
              input(type='password', placeholder='Re-Password', name='repassword')
          div(class="error-container")
            p= error
          div(class="signup-container")
            button(type='submit') Sign Up
          div(class="social-message")
            p alredy have an account?.
          div(class="login-container")
            a(class="login" href='/login') Login