extends layout
block content
  div
    h1 Signup
    form(method='post', action='/signup')
      span User Name:
      input(type='text', placeholder='User Name', name='username')
      br
      span Email:
      input(type='text', placeholder='Email', name='email')
      br
      span Password
      input(type='password', placeholder='Password', name='password')
      input(type='submit', value='Signup')
      br
      = error

      br
      br
      span alredy have an account?.
      a(href='/login') Login