* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font: normal 1.2em/1.5 "Helvetica Neue";
	color: #2e3d49;
}

body {
	min-height: 100vh;
	position: relative;
	margin: 0;
	border-bottom: 5px solid #6a60ad;
}

img {
	width: 200px;
	height: 200px;
	cursor: pointer;
}
 
.hash-tag,
.my-saved-heading {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #6a60ad;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
}

.my-saved-container {
	text-align: center;
	margin: 10px 0;
}
.main-nav {
	top: 0;
	width: 100%;
	min-height: 50px;
	background: #fafafa;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #6a60ad;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    position: fixed;
}
.nav {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

.app-name {
	margin: 0;
	font-size: 1.2em;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #24292e;
}

a {
	text-decoration: none;
	color: black;
}

.random-container {
	width: 100%;
	margin-top: 120px;
}

.gif-container {
	margin: 2px;
}

.query-container {
	width: 100%;
	margin: 10px auto;
	text-align: center;
}

.my-container {
	width: 100%;
	margin-top: 100px;
}

img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

@media screen and (min-width: 600px) {

	img {
		height: 180px;
	}

	.gifis-container {
		margin: 0 auto;
	}

	.my-container {
		margin-left: auto;
		margin-right: auto;
	}

	.gifis-container,
	.my-container
	 {
		width: 70%;
		display: flex;
		flex-wrap: wrap;
	}

	.query-container {
		width: 70%;
	}

	.my-gifis-container, 
	.gifi-container {
		width: 50%;
	}
}

@media screen and (min-width: 800px) {

	.gifis-container,
	.my-container,
	.query-container {
		width: 60%;
	}

	.my-gifis-container,
	.gifi-container {
		width: 33%;
	}	
}
